.registration-container {
  float: right;
  width: 50%; /* Adjust as needed */
  padding: 20px;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-form div {
  margin-bottom: 10px;
}

.registration-form label {
  margin-right: 10px;
}
